:root{
    --bgcolor:#141F3D;
    --lightblue:#99C2FA;
    --white:white;
    --headerHight:60px;
    --borderR:15px
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 20px 0;
    background-color: var(--bgcolor);
}

header{
    width: 100%;
    height: var(--headerHight);
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightblue);
}

.main{
    width: 100%;
    height: 85%;
    /* border: 1px solid greenyellow; */
    padding: 0 5%;
}

.left{
    width: 20%;
    padding-top: 30px;
    /* border: 1px solid pink; */
}

.right{
    width: 70%;
    padding-top: 30px;
    /* border: 1px solid purple; */
}
input{
    background-color: transparent;
    border-color: var(--lightblue);
    color: var(--lightblue);
}

.form-control{
    background-color: transparent;
    border-color: var(--lightblue);
    color: var(--lightblue);
}
.form-control:focus{
    background-color: transparent;
    color: var(--lightblue);
}

.btn.btn-primary{
    width: 100%;
    background-color: transparent;
    border-color: var(--lightblue);
    --bs-btn-focus-box-shadow:none;
}
.btn.btn-primary.submit{
    background-color: var(--lightblue);
}
.btn.btn-primary:hover{
    background-color: var(--lightblue);
}
.btn.btn-primary:focus {
    background-color: var(--lightblue);
}

.line{
    width: 100%;
    border-bottom: 4px solid var(--lightblue);
    margin: 20px 0 5px 0;
    border-radius: 50px;
}
.btn-frame{
    height: 50vh;
}

.top{
    height: 50%;
    border: 1px solid var(--lightblue);
    border-radius: var(--borderR);
    color: var(--lightblue);
}

.uv-0{
    padding: 10px 20px;
    outline: 0;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    /* border: 1px solid white; */
}

.bottom{
    height: 40%;
    /* border: 1px solid rgb(255, 166, 0); */
}
.carousel-inner{
    height: 100%;
}
.each-day{
    width: 18%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--lightblue);
    border-radius: var(--borderR);
    color: var(--lightblue);
    
}


ul{
    width: 100%;
    list-style: none;
}
li span{
    margin-left: 10px;
}
.bottom .each-day{

}

.today-title{
    padding-left: 2rem;
}
.today-title h2,h3{
    margin: 0;
    margin-right: 10px;
}

.today-weather-detail{
    height: 70%;
}

.weather-icon{
    width: 60px;
    /* height: 60px; */
    filter: invert(72%) sepia(85%) saturate(2161%) hue-rotate(190deg) brightness(109%) contrast(106%);
}

/* carousel */
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

 /* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel{
    width: 100%;
    /* border: 1px solid pink; */
}
.carousel-item{
    /* width: 500px; */
}
.carousel-item .each-day{
    width: 100%;
    /* width: 200px; */
    /* border: none; */
    /* margin-right: 20px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.inside-frame{
    width: 60%;
    border: 1px solid var(--lightblue);
}
.carousel-inner{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}
.ui-menu.ui-widget{
    width: 100px;
    background-color: #141F3D;
    color: var(--lightblue);
    border-color: var(--lightblue);
    border-radius: 0 0 10px 10px;

}